a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{margin:0;padding:0;border:0;outline:0;}
em{
    font-style: normal;
}
a {
    text-decoration: none;
}
table{
    width:100%;
    border: none;
    text-align:center;
    border-spacing:0;
}

table td {
    border-right:none;
    word-break: break-all;
    word-wrap:break-word;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
img { border:none; max-width: 100%;}
ol,ul,li { list-style:none; }
html{height:100%; }
.bg_ground{
    width: 100%;
    height: 100%;
    background: url("http://hong.aamda.cn/bg.jpg") no-repeat;
    background-size: 100%  95%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
.bg_ground_1{
    background: url("http://hong.aamda.cn/xhb_bg.png") no-repeat;
    background-size: 100%  100%;
    -webkit-user-select: none;
    user-select: none;
}
.scroll{
    position:absolute;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.top_scroll{
    width: 9.333333333333334rem;
    height: 1.7066666666666668rem;
    background: url("http://hong.aamda.cn/laba-wrap.png") no-repeat;
    background-size: cover;
    margin: 0.2rem auto;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
#scrollDiv{
    /*margin-top: 0.1rem;*/
    padding: 0.1rem 0.2rem;
    /*line-height: 0.35rem;*/
    overflow: hidden;
    /*height: 1.7066666666666668rem;*/
}
#scrollDiv .scroll_ul li{
    height: 0.5rem;
    width: 100%;
    overflow: hidden;
    line-height:  0.5rem;
    font-size: 0.3rem;
    color: white;
}
#scrollDiv .scroll_ul li img{
    width: 0.4266666666666667rem;
    height: 0.30666666666666664rem;
    margin-right: 5px;
}
.more_btn{
    width: 4.48rem;
    height: 1.32rem;
    margin: 0 auto;
    display: block;
    animation: swing  3s infinite;
    -moz-animation: swing 3s  infinite;	/* Firefox */
    -webkit-animation: swing 3s infinite;	/* Safari 鍜� Chrome */
    -o-animation: swing 3s infinite;
    -webkit-user-select: none;
    user-select: none;
}
.user_bg{
    width: 3.16rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.25rem;
    color: white;
    display: inline-block;
    float: left;
    background: url("http://hong.aamda.cn/user.png") no-repeat;
    background-size: 100% 100%;
    margin: 0.35rem 0 0.2rem 1.8rem;
    -webkit-user-select: none;
    user-select: none;
}
.more_btn1{
    width: 4.48rem;
    height: 1.32rem;
    margin: 0 auto;
    display: block;
}
.tab_nav{
    display: none;
}
.list_ul{
    width: 7.333333333333333rem;
    margin: 0 auto;
    padding:0.8rem 0.2rem;
    overflow: hidden;
}
.list_ul_1{
    width: 7.333333333333333rem;
    margin: 0 auto;
    padding:0.8rem 0.2rem;
    overflow: hidden;
}
.list_ul_dl{
    width: 7.333333333333333rem;
    margin: 0 auto;
    padding:0.8rem 0.2rem;
    overflow: hidden;
}
.list_ul_dl li{
    float: left;
    margin-left: 0.6rem;
    margin-bottom: 0.7rem;
}
.list_ul li{
    float: left;
    margin-left: 0.1rem;
    margin-bottom: 0.7rem;
}
.list_ul_1 li{
    float: left;
    margin-left: 0.47rem;
    margin-bottom: 0.9rem;
}
.list_ul li img{
    width: 2.24rem;
    height: 3.04rem;
}
.list_ul_dl li img{
    width: 2.68rem;
    height: 1.6533333333333333rem;
}
.list_ul_1 li img{
    width: 1.24rem;
    height:1.52rem;
}
.money_box{
    overflow: hidden;
    /*padding-bottom: 4rem;*/
}
.nav-entry-list {
    position: fixed;
    bottom: 0;
    background: #EB3738;
    width: 100%;
    overflow: hidden;
}
.nav-entry-list li {
    float: left;
    width: 25%;
    font-size: 0.3rem;
    font-weight: 500;
    /* line-height: .12rem; */
    text-align: center;
}
.nav-entry-list div {
    display: block;
    height: 1.4rem;
    /*padding-top: 1.38rem;*/
    background-repeat: no-repeat;
    background-position: center .16rem;
    /*position: relative;*/
    /*font-size: 0.36rem;*/
    /*-webkit-tap-highlight-color: transparent;*/
    -webkit-user-select: none;
    user-select: none;
}

.nav_bg1{
    background: url("http://hong.aamda.cn/hb_y.png") no-repeat;
    background-size:0.6rem 1.08rem;
}
.nav_bg2{
    background: url("http://hong.aamda.cn/dl_y.png") no-repeat;
    background-size:0.76rem 1.0933333333333333rem;
}
.nav_bg3{
    background: url("http://hong.aamda.cn/kf_y.png") no-repeat;
    background-size:0.6666666666666666rem 1.12rem;
}
.nav_bg4{
    background: url("http://hong.aamda.cn/chb_y.png") no-repeat;
    background-size:1.22rem 1.12rem;
}
.windows {
    width: 8.586666666666666rem;
    height: 10.146666666666667rem;
    position: absolute;
    top: 50%;
    margin-top: -5.073333rem;
    left: 50%;
    margin-left: -4.29rem;
    border-radius: 0.2rem;
    background: url("http://hong.aamda.cn/bg_tk01.png") no-repeat;
    background-size: 100% 100%;
    display: none;
    z-index: 11;
    -webkit-user-select: none;
    user-select: none;
}
.text {
    text-align: center;
    font-size: 0.35rem;
    vertical-align: middle;
    color: #FB2223;
    padding-top: 6rem;
}
.close{
    text-align: center;
    margin-top: 1rem;
    z-index: 100;
}
.close img{
    width: 5.706666666666667rem;
    height: 1.2rem;
}
.opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=50);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.list_ul  li {
    animation: pulse  1.5s infinite;
    -moz-animation: pulse 1.5s  infinite;	/* Firefox */
    -webkit-animation: pulse 1.5s infinite;	/* Safari 鍜� Chrome */
    -o-animation: pulse 1.5s infinite;
}

.list_ul_1  li {
    animation: pulse  1.5s infinite;
    -moz-animation: pulse 1.5s  infinite;	/* Firefox */
    -webkit-animation: pulse 1.5s infinite;	/* Safari 鍜� Chrome */
    -o-animation: pulse 1.5s infinite;
}
.list_ul_1 li .small_pack{
    width: 1.24rem;
    height: 1.52rem;
    display: block;
    background: url("http://hong.aamda.cn/xhb_hb_small.png") no-repeat;
    background-size: 100% 100%;
    line-height: 1.52rem;
    color: #FFCE1E;
    text-align: center;
    font-size: 0.3rem;
    -webkit-user-select: none;
    user-select: none;
}
.list_ul_1 .shake{
    animation:shake .2s infinite linear;
    -webkit-animation:shake .2s infinite linear;
    -moz-animation: shake .2s  infinite linear;	/* Firefox */

    -o-animation: shake .2s infinite linear;
}
@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.03,1.03,1.03)
    }

    to {
        transform: scaleX(1)
    }
}
@-moz-keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.03,1.03,1.03)
    }

    to {
        transform: scaleX(1)
    }
}
@-webkit-keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.03,1.03,1.03)
    }

    to {
        transform: scaleX(1)
    }
}
@-o-keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.03,1.03,1.03)
    }

    to {
        transform: scaleX(1)
    }
}

.pulse {
    animation-name: pulse
}

@keyframes swing {
    20% {
        transform: rotate(5deg)
    }

    40% {
        transform: rotate(-5deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}
@-moz-keyframes swing {
    20% {
        transform: rotate(5deg)
    }

    40% {
        transform: rotate(-5deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}
@-webkit-keyframes swing {
    20% {
        transform: rotate(5deg)
    }

    40% {
        transform: rotate(-5deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}
@-o-keyframes swing {
    20% {
        transform: rotate(5deg)
    }

    40% {
        transform: rotate(-5deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}


@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(2deg) translate3d(0,0,0)
    }

    50% {
        -webkit-transform: rotate(-2deg) translate3d(0,0,0)
    }

    100% {
        -webkit-transform: rotate(2deg) translate3d(0,0,0)
    }
}

@-moz-keyframes shake {
    0% {
        transform: rotate(2deg) translate3d(0,0,0)
    }

    50% {
        transform: rotate(-2deg) translate3d(0,0,0)
    }

    100% {
        transform: rotate(2deg) translate3d(0,0,0)
    }
}

@-ms-keyframes shake {
    0% {
        transform: rotate(2deg) translate3d(0,0,0)
    }

    50% {
        transform: rotate(-2deg) translate3d(0,0,0)
    }

    100% {
        transform: rotate(2deg) translate3d(0,0,0)
    }
}
.swing {
    transform-origin: top center;
    animation-name: swing
}

.fix_more_btn{
    position: fixed;
    bottom:2rem;
    right: 0.5rem;
}
.fix_more_btn img{
    width: 1.4rem ;
    height: 1.4533333333333334rem;
}

.windows_yjjl ,.windows_txjl,.windows_yjtx,.windows_dlsm{
    width: 8.8rem;
    height: 13.066666666666666rem;
    position: absolute;
    top: 50%;
    margin-top: -6.53rem;
    left: 50%;
    margin-left: -4.4rem;
    border-radius: 0.2rem;
    visibility: hidden;
    z-index: 11;
}
.dl_yjjl_title{
    width: 3.28rem;
    height: 0.9466666666666667rem;
    position: absolute;
    left: 2.6rem;
    top: -0.1rem;
    background: url("http://hong.aamda.cn/dl_yjjl_title.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.dl_yxtx_title{
    background: url("http://hong.aamda.cn/dl_txjl_title.png") no-repeat;
    background-size: 100% 100%;
}
.dl_yjtx_title{
    background: url("http://hong.aamda.cn/dl_yjtx_title.png") no-repeat;
    background-size: 100% 100%;
}
.dl_dlsm_title{
    background: url("http://hong.aamda.cn/dl_dlsm_title.png") no-repeat;
    background-size: 100% 100%;
}
.dl_yjjl_top{
    width: 8.813333333333333rem;
    height: 1.7733333333333334rem;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/dl_yjjl_top.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}

.dl_yjjl_bottom{
    width: 8.813333333333333rem;
    height: 1.7733333333333334rem;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/dl_yjjl_bottom.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0.3rem;
    -webkit-user-select: none;
    user-select: none;
;
}
.dl_content{
    width: 7.466666666666667rem;
    height: 10.4rem;
    background: #FFEABF;
    margin-top: -0.6rem;
    z-index: -1;
    position: absolute;
    left: 0.7rem;
}
.dl_content_yjtx{
    height: 1.2rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid #E7D3AA;
    color:#95694C;
    font-size: 0.28rem;
}
.dl_dlsm_top{
    width: 6.533333333333333rem;
    height:1.0666666666666667rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/title_yjbl.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.dl_dlsm_bottom{
    width: 6.533333333333333rem;
    height:1.0666666666666667rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/title_wdxj.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.dl_dlsm_center {
    width: 6.533333333333333rem;
    height:4.2rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/body_yjbl.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.dlsm_table{
    width: 6.533333333333333rem;
    margin:  0 auto;
    border: 1px solid #EDEAD4;
    background: white;
}
.dlsm_table tr{
    height: 0.5rem;
}
.dlsm_table tr td{
    border: 1px solid #EDEAD4;
}
.dlsm_table tr td:first-child{
    width: 40%;

}
.input_money{
    height: 0.6rem;
    line-height: 0.6rem;
    padding: 0 0.2rem;
    font-size: 0.28rem;
    border-radius: 0.1rem;
    background: white;
    border: none;
}
.yjtx_wxts{
    width: 6.88rem;
    height: 3.3466666666666667rem;
    margin:  0.2rem auto;
    background: url("http://hong.aamda.cn/yjtx_wxts.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.button_yjtx_qr{
    width: 2.1866666666666665rem;
    height: 0.76rem;
    margin:  0 auto;
    background: url("http://hong.aamda.cn/button_yjtx_qr.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.button_yjtx_qr img{
    width: 100%;
    height: 100%;
}
.close_x{
    width: 0.7866666666666666rem;
    height: 0.7333333333333333rem;
    position: absolute;
    top: -1rem;
    right: 0.7rem;
    background: url("http://hong.aamda.cn/close.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.close_x img{
    width: 100%;
    height: 100%;
}

.table_head  table .thead_sty tr{

    color: white;
    font-size: 0.32rem;

}

.table_head  table .thead_sty td{
    background: #95694C;
    padding-top: 0.3rem;
    border: none;
    padding-bottom: 0.15rem;
}
.table_head tr {
    height: 0.6rem;
    color: #95694C;
}
.table_body{
    height: 9rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.table_body table tr td{
    height: 0.6rem;
    font-size: 0.28rem;
}
.table_body table tr td:nth-child(1){
    width: 53%;
}
.table_body table tr td:nth-child(2){
    width: 20%;
}
.table_body table tr td:nth-child(3){
    width:27%;
}

.table_body_1 table tr td:nth-child(1){
    width: 50%;
}
.table_body_1 table tr td:nth-child(2){
    width: 50%;
}
.windows_wdgz{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("http://hong.aamda.cn/wdgz_bj.jpg") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
  visibility: hidden;
    -webkit-user-select: none;
    user-select: none;
}
.wdgz_head{
    width: 10rem;
    height:6.8933333333333335rem;
    display: block;
    background: url("http://hong.aamda.cn/wdgz_head-2.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    -webkit-user-select: none;
    user-select: none;
}
.wdgz_div{
    overflow: hidden;
    width: 8.266666666666667rem;
    margin:  0 auto;
    padding-top:1.3rem;
}
.wdgz_div li{
    display: block;
    float: left;
    width: 3.8933333333333335rem;
    height: 1.6rem;
    border-radius: 0.1rem;
    background: #ECE4C0;
    margin: 0.2rem 0.1rem;
    text-align: center;
    line-height: 0.8rem;
    color: red;
    font-size: 0.3rem;
}
.lqgz_btn{
    width: 3.16rem;
    height: 1.12rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/wdgz_lqgz.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.gzsm_title{
    width: 7.44rem;
    height: 1.4133333333333333rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/gzsm_title.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.gzsm_body{
    width: 8.706666666666667rem;
    height: 6.8rem;
    display: block;
    margin: 0 auto;
    background: url("http://hong.aamda.cn/gzsm_body.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}

.close_y{
    width: 0.9466666666666667rem;
    height: 0.96rem;
    display: block;
    position: fixed;
    top: 0.2rem;
    left: 0.2rem;
    background: url("http://hong.aamda.cn/c_3.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}


.windows_scewm{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: hidden;
}
.windows_pop-up{
    width: 8.8rem;
    height: 6.066667rem;
    position: absolute;
    top: 50%;
    margin-top: -3.033rem;
    left: 50%;
    margin-left: -4.4rem;
    border-radius: 0.2rem;
    display: none;
    z-index: 11;
}
.tk_vip{
    width: 7.653333333333333rem;
    height:5.026666666666666rem;
    background: url("http://hong.aamda.cn/tk_vip.png") no-repeat;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.kefu_erweima{
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    top: 1.8rem;
    left: 1.2rem;
}
.tuiguang_img{
    width: 100%;
    height: 100%;
    display: block;
}
.windows_chb{
    width: 7.6rem;
    height:9.786666666666667rem;
    background: url("http://hong.aamda.cn/chb_bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    margin-top: -4.89rem;
    left: 50%;
    margin-left: -3.8rem;
    border-radius: 0.2rem;
    display: none;
    z-index: 11;
    -webkit-user-select: none;
    user-select: none;
}
.table_chb_small{
    height: 7rem;
    padding:2.3rem 0.2rem 0 ;
    overflow-y: scroll;

}
.table_chb_small table tr{
    font-size: 0.3rem;
    color: white;
}
.table_chb_small table tr td:first-child{
    width: 50%;
}
.table_chb_small table tr td:nth-child(2){
    width: 20%;
}
.table_chb_small table tr td:nth-child(3){
    width: 30%;
}
.chb_small{
    width: 1.5466666666666666rem;
    height:0.6533333333333333rem;
    display: inline-block;
    background: url("http://hong.aamda.cn/chb_button.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 0.1rem;
    -webkit-user-select: none;
    user-select: none;
}
.list_ul li div{
    width: 2.24rem;
    height: 3.04rem;
    display: inline-block;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;
}
.list_ul_dl li div{
    width: 2.68rem;
    height: 1.6533333333333333rem;
    display: inline-block;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;

}
#tc-wrapper1,#tc-wrapper2 {
    height: 9rem;
    min-height: 9rem;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}
#tc-wrapper1 ul li, #tc-wrapper2 ul li{
    height:0.6rem;

    font-size: 0.28rem;
}
#tc-wrapper1 ul li span, #tc-wrapper2 ul li span{
    text-align: center;
    line-height: 0.6rem;
    display: inline-block;
}
#tc-wrapper1 ul li span:nth-child(1),   #tc-wrapper2 ul li span:nth-child(1){
    display: inline-block;
    width: 50%;
}
#tc-wrapper1 ul li span:nth-child(2){
    display: inline-block;
    width: 20%;
}
#tc-wrapper2 ul li span:nth-child(2){
    width: 50%;
}
#tc-wrapper1 ul li span:nth-child(3){
    display: inline-block;
    width: 27%;
}
















